# Ignore Python virtual environments
user/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environment variables
.env
*.env

# Docker-related files
*.sqlite3
*.log

# VSCode settings
.vscode/

# Others
venv/
